@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@600&display=swap');

body{
    font-family: Sofia Sans;
    
}

.inputGroup:hover{
    background-color: #8d7e56;
}

:active, :focus {
    outline: 0;
    outline-offset: 0;
}

.menuBg{
    background-color: #ffffff;
}

a:hover{
    background-color: #e0d6ba;
    color: black;
}

.article:hover{
    box-shadow:0 0 5px;
    border-radius: 8px;
}
.article-image{
    background-image: url(https://cdn2.hexlet.io/derivations/image/fill_png/600/400/eyJpZCI6IjU1NmFiOGM2Y2YzZmY2OTljZDc2MDMwMjE1YTYyN2FlLnBuZyIsInN0b3JhZ2UiOiJzdG9yZSJ9?signature=bf09f2d4c1e2acf5458f65181b9d6ff04c4f07663194e07c6067753e1c5f7586);
    background-size: 100% 100%;
}
p{
    font-size: 20px;
}
.noDecor{
    text-decoration: none;
    color: black;
}

.btns:hover{
    background-color: #e0d6ba;
    color: black;
}

