@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@600&display=swap');

body{
    font-family: Sofia Sans;
    
}

.inputGroup:hover{
    background-color: #8d7e56;
}

:active, :focus {
    outline: 0;
    outline-offset: 0;
}

.menuBg{
    background-color: #ffffff;
}


.article:hover{
    box-shadow:0 0 5px;
    border-radius: 8px;
}
.article-image{
    background-image: url(img/imgRPDsite.svg);
    background-size: 100% 100%;
}
p{
    font-size: 20px;
}
.noDecor{
    text-decoration: none;
    color: black;
}

.btns:hover{
    background-color: #e0d6ba;
    color: black;
}

